/* =======================================HEADER */
header {
    padding: 0 40px; display: flex; justify-content: space-between;
    align-items: center; height: 110px;
    position: fixed; top: 0; left: 0; width: 100%;
    z-index: 999;
    transition: background-color 0.25s;
}
header h1 {}
header h1 a {}
header h1 a img {}
header nav {display: flex; height: 100%; align-items: center;}
header nav .category_wrap {}
header nav .category_wrap > a {
    font-family: "Uchen", serif;
    font-size: 1.125rem; color: #fff;
    letter-spacing: 0.01em;
}
/* 카테고리 공통 */
header nav ul li a {color: #fff;}
/* 카테고리 서브팝업 */
header nav .category_wrap {height: 100%; padding-top: 45px;}
header nav .category_wrap:hover > .category_popup {display: block;}
header nav .sale_wrap:hover > .sale_popup {display: block;}
header nav .category_wrap .category_popup,
header nav .sale_popup {
    display: none;
    border-top: 1px solid rgba(255,255,255,1);
    background-color: rgba(255,255,255,1); width: 100%;
    position: fixed; top: 110px; left: 0; padding: 18px;
    border-top: 1px solid rgba(0,0,0,0.2);
}
header nav .category_wrap .category_popup ul,
header nav .sale_popup ul {
    display: flex; justify-content: center; align-items: center;
}
header nav .category_wrap .category_popup ul li,
header nav .sale_popup ul li {margin-right: 52px;}
header nav .sale_wrap {
    margin: 0 60px; padding-top: 45px; height: 100%;
}
header nav .category_wrap .category_popup ul li a {color: #2e1e1a}
header nav .sale_wrap > a {
    font-family: "Uchen", serif;
    font-size: 1.125rem; color: #fff;
    letter-spacing: 0.01em;
}
/* 세일 서브팝업 */
header nav .sale_wrap > .sale_popup {display: none;}
header nav .sale_wrap > .sale_popup > ul {}
header nav .sale_wrap > .sale_popup > ul li {}
header nav .sale_wrap > .sale_popup > ul li:first-child a {color: #BA5B01;}
header nav .sale_wrap > .sale_popup > ul li a {color: #2e1e1a}
header nav .h_membership {
    font-family: "Uchen", serif;
    font-size: 1.125rem; color: #fff;
    letter-spacing: 0.01em;
}
header .h_right {display: flex;}
header .h_right .login {}
header .h_right .shopping {margin: 0 28px;}
header .h_right .search {}
header .h_right .search > a {}
header .h_right .search > a img {}
/* 검색하기 클릭 시 뜨는 검색팝업 영역 */
header .h_right .search .search_popup {
    display: none;
    position: fixed; top: 0; left: 0; width: 100%;
    background-color: #fff; padding-top: 100px; padding-bottom: 24px;
}
header .h_right .search .search_popup .search_wrap {
    width: max-content; margin: 0 auto;
}
header .h_right .search .search_popup .search_wrap form {
    position: relative; margin-bottom: 20px;
}
header .h_right .search .search_popup .search_wrap form #user_search {
    width: 520px; background-color: #5E3400;
    padding: 16px 40px 16px 15px; font-size: 0.938rem; 
    border-radius: 3px;
}header .h_right .search .search_popup .search_wrap form #user_search::placeholder {
    color: #E9DCCC;
}
header .h_right .search .search_popup .search_wrap form #search_btn {
    position: absolute; right: 15px; top: 14px;
}
header .h_right .search .search_popup .search_wrap form #search_btn img {}
header .h_right .search .search_popup .search_wrap ul {}
header .h_right .search .search_popup .search_wrap ul .search_t {
    font-weight: 500; font-size: 1rem; padding: 0; margin-right: 24px;
    color: #000; margin-bottom: 62px; background: none;
}
header .h_right .search .search_popup .search_wrap ul li {
    background-color: #F7F1EA; font-size: 0.88rem;
    display: inline-block; padding: 8px;
    color: #5E3400;
}
header .h_right .search .search_popup .search_wrap .close {
    display: block; text-align: center;
}
header .h_right .search .search_popup .search_wrap .close span {
    font-size: 0.88rem; font-weight: 500; color: #5E3400;
}
header .h_right .search .search_popup .search_wrap .close img {}

