/* ================================== 공통 */
main {}
/* 더보기 */
main .view_more {display: flex; align-items: center;}
main .view_more span {
    font-family: "Noto Serif KR", serif;
    /* font-family: 'MaruBuriLight'; */
    font-size: 0.88rem; font-weight: 500;
    color: #7b4e15; margin-right: 2px;
    position: relative; bottom: 2px;
}
main .view_more img {}
/* 상품 설명 */
main .p_title {
    font-weight: 500;
}
main .p_info {}
main .p_info .price,
main .p_info .volume {
    display: inline-block;
    font-size: 0.88rem; color: #2e1e1a;
    letter-spacing: -0.02em;
}
main .p_info .price {margin-left: 8px;}
/* 페이지 터너 */
main .page span {
    font-family: "Noto Serif KR", serif;
    font-size: 1.13rem; font-weight: 500;
    color: #e9dccc;
}
main .page .page_now {color: #5E3400;}
main .page .page_all {}
main .best_wrap .b_scroll_wrap {
    width: 100%; height: 2px;
    background-color: #E6E6E6;
}
/* ======================= 2.메인 BNR */
main .bnr {
    height: 100vh; position: relative;
    overflow: hidden;
}
main .bnr .b_wrap {}
main .bnr .b_wrap::after {
    content: '';
    position: absolute; left: 0; top: 0;
    width: 100%; height: 100vh;
    background-color: rgba(0,0,0,0.44);
    z-index: 100;
}
main .bnr .b_wrap h1,
main .bnr .b_wrap .scroll {z-index: 200;}
main .bnr .b_wrap h1 {
    position: absolute; right: 10%; top: 45%;
    font-family: "MaruBuri", sans-serif;
    font-size: 2.36rem; line-height: 1.5;
    color: #fff; text-align: right;
}
main .bnr .b_wrap .scroll {
    position: absolute; left: 50%; bottom: 80px;
    width: max-content;
}
main .bnr .b_wrap .scroll span {
    font-family: "MaruBuri", sans-serif;
    font-size: 1.13rem;
    color: rgba(255,255,255,0.8);
}
main .bnr .b_wrap .scroll .s_line {
    display: block; margin: 0 auto;
    width: 1px; height: 40px; background-color: rgba(255,255,255,0.5);
    margin-top: 10px;
}
main .bnr .b_wrap video {width: 100%;}
/* ================================================3. 타임세일 */
main .time_wrap {
    width: 1500px; margin: 160px auto; margin-top: 72px;
    display: flex; justify-content: space-between;

}
main .time_wrap > * {width: calc((100% - 12px) / 2);}
main .time_wrap .t_left {}
main .time_wrap .t_left .t_h2 {
    font-size: 1.31rem; font-weight: 500;
    color: #5E3400; margin-bottom: 24px;
}
main .time_wrap .t_left .time {
    padding-bottom: 12px; 
    border-bottom: 3px solid #e9dccc;
    display: inline-block; margin-bottom: 81px;
}
main .time_wrap .t_left .time span {
    font-size: 2.13rem; color: #BA5B01;
    letter-spacing: 0.02em;
}
main .time_wrap .t_left .time .left_time {
    margin-left: 22px; color: #5E3400;
}
main .time_wrap .t_left .t_product_name {
    color: #2e1e1a;
    font-size: 1.13rem; font-weight: 500;
    margin-bottom: 14px;
}
main .time_wrap .t_left .t_price {
    color: #5E3400;
    font-weight: 500;
    letter-spacing: -0.02em; margin-bottom: 36px;
}
main .time_wrap .t_left .detail {
    font-size: 0.81rem; line-height: 1.7;
    color: #2e1e1a; margin-bottom: 36px;
}
main .time_wrap .t_left .view_more {margin-bottom: 75px;}
main .time_wrap .t_left .view_more span {}
main .time_wrap .t_left .view_more img {}
main .time_wrap .t_left .t_product {display: flex; justify-content: space-between;}
main .time_wrap .t_left .t_product * {
    width: calc((100% - 12px) / 2);
}
main .time_wrap .t_left .t_product .t_product_small_left {
    border-radius: 0 0 0 50px; 
    overflow: hidden;
}
main .time_wrap .t_left .t_product .t_product_small_left img {
    width: 100%;
    transition: transform 0.2s;
}
main .time_wrap .t_left .t_product .t_product_small_left img:hover {
    transform: scale(1.08);
}
main .time_wrap .t_left .t_product .t_product_small_right {overflow: hidden;}
main .time_wrap .t_left .t_product .t_product_small_right img {
    width: 100%;  transition: transform 0.2s;
}
main .time_wrap .t_left .t_product .t_product_small_right img:hover {
    transform: scale(1.08);
}
main .time_wrap .t_right {border-radius: 120px 0 0 0; overflow: hidden;}
main .time_wrap .t_right img {
    width: 100%;
    height: max-content; transition: transform 0.2s;
}
main .time_wrap .t_right img:hover {
    transform: scale(1.05);
}
/* ======================================================4. BEST ITEMS */
main .best_wrap {width: 1500px; margin: 0 auto; margin-bottom: 160px;}
main .best_wrap .b_h2 {
    font-family: "MaruBuri", sans-serif;
    font-size: 2.13rem; font-weight: 500;
    text-align: center; margin-bottom: 26px;
}
main .best_wrap .view_more {justify-content: center; margin-bottom: 50px;}
main .best_wrap .view_more span {}
main .best_wrap .view_more img {}
main .best_wrap .b_container {
    position: relative; margin-bottom: 20px;
}
main .best_wrap .b_container::after {
    content: ''; width: 71px; height: 69px; /* background-color: aqua; */
    position: absolute; right: 100px; top: 326px; z-index: 999;
    background-image: url(../images/best_z_img_2.png);
    background-position: center; background-size: cover;
}
main .best_wrap .b_container .b_swiper {
    margin: 0 auto; position: relative;
    width: 1300px; height: 500px;
    border-radius: 80px 0 0 0; overflow: hidden;
}
main .best_wrap .b_container .b_swiper .swiper-wrapper {}
main .best_wrap .b_container .b_swiper .swiper-slide {}
main .best_wrap .b_container .b_swiper .b_product {}
main .best_wrap .b_container .b_swiper .b_product .b_img {width: 100%;}
main .best_wrap .b_container .b_swiper .b_product .b_img img {width: 100%;}
main .best_wrap .b_container .b_swiper .b_product .p_title {
    text-align: center; margin-top: 24px;
}
main .best_wrap .b_container .b_swiper .b_product .p_info {
    text-align: center; margin-top: 12px;
}
main .best_wrap .b_container .b_swiper .b_product .p_title .volume {}
main .best_wrap .b_container .b_swiper .b_product .p_title .price {}
main .best_wrap .page {
    text-align: right; margin-bottom: 18px;
}
main .best_wrap .b_container .btn {
    position: absolute; left: 20px; top: 20px;
    background: yellow;
    width: 100px; height: 100px;
}
main .best_wrap .page span {
    font-family: "Noto Serif KR", serif;
    font-size: 1.13rem; font-weight: 500;
    color: #e9dccc;
}
/* best 스와이퍼 버튼 */
main .best_wrap .b_container .swiper-button-prev,
main .best_wrap .b_container .swiper-button-next {
    color: #2e1e1a; position: absolute; top: 38%;
    transform: scale(0.7); opacity: 0.8;
}
main .best_wrap .b_container .swiper-button-prev {
    z-index: 999;
}
main .best_wrap .page .page_now {color: #5E3400;}
main .best_wrap .page .page_all {}
/* best 페이지 스크롤 */
main .best_wrap .event-scrollbar {
    width: 1500px; height: 2px;
    background: #E6E6E6;
}
main .best_wrap .event-scrollbar .active-scrollbar {
    width: 0%; height: 2px; background: #9F794b;
}
/* ================================5. 광고 bnr1 */
main .bnr1 {
    background-image: url(../images/brn1.jpg);
    background-size: cover; background-position: center;
    height: 460px; margin-bottom: 160px;
}
main .bnr_wrap .bnr_content {padding-top: 109px; width:1500px; margin: 0 auto;}
main .bnr_wrap .bnr_content .bnr_icon {}
main .bnr_wrap .bnr_content .bnr_icon img {}
main .bnr_wrap .bnr_content h1 {
    font-family: 'MaruBuriSemiBold';
    margin-top: 24px; margin-left: 46px;
    font-size: 2.25rem; letter-spacing: -0.04em;
    color: #2e1e1a; font-weight: 500;
}
main .bnr_wrap .bnr_content .bnr_detail {
    margin-top: 18px; margin-left: 46px;
    font-size: 0.75rem; line-height: 1.6;
    color: #2e1e1a;
}
main .bnr_wrap .bnr_content .view_more_b:hover {background-color: #000000;}
main .bnr_wrap .bnr_content .view_more_b {
    display: inline-block;
    margin-top: 40px; margin-left: 46px;
    padding: 9px 48px; background-color: #2e1e1a;
    color: #e9dccc;
    font-family: "Noto Serif KR", serif;
    font-size: 0.81rem;
    transition: background-color 0.25s;
}
/* ============================6. 고민별 추천상품 */
main .recommend_wrap {
    width: 1500px; margin: 0 auto;
    display: flex; justify-content: space-between;
    margin-bottom: 160px;
}
main .recommend_wrap .rec_left {
    width: calc((100% - 66px) / 3);
    display: flex; flex-flow: column nowrap; justify-content: space-between;
}
main .recommend_wrap .rec_left .rec_title {}
main .recommend_wrap .rec_left .rec_title .recommend {
    font-size: 1.31rem; letter-spacing: -0.02em;
    font-weight: 500; color: #2e1e1a;
}
main .recommend_wrap .rec_left .rec_title .detail {
    display: inline-block; margin: 48px 0; line-height: 1.7;
    font-size: 0.81rem; color: #2e1e1a;
}
main .recommend_wrap .rec_left .rec_title .view_more {}
main .recommend_wrap .rec_left .rec_title .view_more span {}
main .recommend_wrap .rec_left .rec_title .view_more img {}
main .recommend_wrap .rec_left .rec_category {}
/* 공통요소 */
main .recommend_wrap .rec_left .rec_category > * {
    display: block; padding-bottom: 8px;
    border-bottom: 1px solid #e9dccc;
}
main .recommend_wrap .rec_left .rec_category .care_t {
    font-family: "MaruBuri", sans-serif;
    font-size: 1.38rem; color: #e9dccc;
    letter-spacing: -0.02em; display: inline-block;
    margin-right: 6px;
}
main .recommend_wrap .rec_left .rec_category .care_sub {
    font-size: 0.81rem;
    display: inline-block; color: #e9dccc;
}
/* 개별요소 */
main .recommend_wrap .rec_left .rec_category > .active {border-bottom: 1px solid #7b4e15;}
main .recommend_wrap .rec_left .rec_category > .active .care_t {color: #5E3400;}
main .recommend_wrap .rec_left .rec_category > .active .care_sub {color: #5E3400;}
main .recommend_wrap .rec_left .rec_category .skin {margin: 25px 0;}
main .recommend_wrap .rec_left .rec_category .skin .care_t {}
main .recommend_wrap .rec_left .rec_category .skin .care_sub {}
main .recommend_wrap .rec_left .rec_category .men {}
main .recommend_wrap .rec_left .rec_category .men .care_t {}
main .recommend_wrap .rec_left .rec_category .men .care_sub {}
main .recommend_wrap .rec_right_wrap {
    width: calc(((100% - 66px) / 3) * 2);
    position: relative;
}
main .recommend_wrap .rec_right .rec_img {
    display: block; overflow: hidden; border-radius: 120px 0 0 0;
}
main .recommend_wrap .rec_right .rec_img img {
    width: 100%; transition: transform 0.6s;
}
main .recommend_wrap .rec_right .rec_img img:hover {transform: scale(1.03);}
main .recommend_wrap .rec_right .rec_detail {
    position: absolute; left: 20px; bottom: 20px;
    border-radius: 2px;
}
main .recommend_wrap .rec_right .rec_detail .p_title {
    margin-bottom: 15px; color: #fff; font-weight: 400;
    font-size: 0.88rem;
}
main .recommend_wrap .rec_right .rec_detail .p_info {
    border-bottom: 1px solid rgba(255,255,255,0.5); padding-bottom: 8px;
}
main .recommend_wrap .rec_right .rec_detail .p_info > * {
    color: rgba(255,255,255,0.8); font-size: 0.93rem;
}
main .recommend_wrap .rec_right .rec_detail .p_info .volume {margin-right: 180px;}
main .recommend_wrap .rec_right .rec_detail .p_info .price {}
main .recommend_wrap .rec_right ul {
    position: absolute; right: 20px; top: 20px;
    height: max-content;
}
main .recommend_wrap .rec_right ul li {
    height: 123px; margin-bottom: 4px;
}
main .recommend_wrap .rec_right ul li a {height: 100%;}
main .recommend_wrap .rec_right ul li a img {height: 100%;}
/* ======================================== 7. 신상품 */
main .new_wrap {
    display: flex; justify-content: space-between;
    padding: 80px 0; margin-left: 200px; overflow: hidden;
    margin-bottom: 200px; border-top: 1px solid #e9dccc; border-bottom: 1px solid #e9dccc;
}
main .new_wrap .new_left {
    width: calc((100% - 100px) * 0.2);
    display: flex; flex-flow: column nowrap; justify-content: space-between;
    position: relative;
}
main .new_wrap .new_left .new_title {}
main .new_wrap .new_left .new_title .n_title {}
main .new_wrap .new_left .new_title .n_title > * {display: inline-block;}
main .new_wrap .new_left .new_title .n_title h2 {
    font-family: "MaruBuri", sans-serif; letter-spacing: -0.02em;
    font-size: 2.13rem; font-weight: 500;
}
main .new_wrap .new_left .new_title .n_title p {color: #5E3400; font-size: 0.88rem;}
main .new_wrap .new_left .new_title .view_more {margin-top: 36px;}
main .new_wrap .new_left .new_title .view_more span {}
main .new_wrap .new_left .new_title .view_more img {}
main .new_wrap .new_left .page {}
main .new_wrap .new_left .page .page_now {}
main .new_wrap .new_left .page span {}
main .new_wrap .new_left .page .page_all {}
main .new_wrap .new_swiper {
    border-radius: 120px 0 0 0;
    position: relative;
}
main .new_wrap .new_swiper .swiper-wrapper {}
main .new_wrap .new_swiper .n_btn {
    position: absolute; top: 48%; left: 5px;
    background-color: aqua;
}
main .new_wrap .new_swiper  .swiper-button-prev {
    transform: scale(0.75);
    color: #fff
}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide a {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide a img {width: 100%;}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .p_title {
    color: #2e1e1a; margin-top: 20px; margin-bottom: 14px;
}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .p_info {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .p_info .volume {}
main .new_wrap .new_swiper .swiper-wrapper .swiper-slide .p_info .price {}
/* =====================8. 광고 bnr2 */
main .bnr2 {
    background-image: url(../images/brn2.jpg);
    background-size: cover; background-position: center;
    height: 460px;
}
main .bnr2 .bnr_content {
    padding-top: 109px;  width: 1500px; margin: 0 auto;
    text-align: right; padding-right: 200px;
}
main .bnr2 .bnr_content .bnr_icon {}
main .bnr2 .bnr_content .bnr_icon img {}
main .bnr2 .bnr_content h1 {
    font-family: "MaruBuri", sans-serif;
    margin-top: 20px; margin-left: 46px;
    font-size: 2.25rem; letter-spacing: -0.04em;
    color: #2e1e1a; font-weight: 500;
}
main .bnr2 .bnr_content .bnr_detail {
    margin-top: 18px; margin-left: 46px;
    font-size: 0.75rem; line-height: 1.6;
    color: #2e1e1a;
}
main .bnr2 .bnr_content .view_more_b:hover {background-color: #0e0d0d;}
main .bnr2 .bnr_content .view_more_b {
    display: inline-block;
    margin-top: 40px; margin-left: 46px;
    padding: 9px 48px; background-color: #2e1e1a;
    color: #e9dccc;
    font-family: "Noto Serif KR", serif;
    font-size: 0.81rem;
    transition: background-color 0.3s;
}