/* =======================================HEADER */
header {
    padding: 0 40px; display: flex; justify-content: space-between;
    align-items: center; height: 110px;
    position: fixed; top: 0; left: 0; width: 100%;
    z-index: 999;
    transition: background-color 0.25s;
    background-color: #fff;
    border-bottom: 1px solid #bdbdbd30;
}
header h1 {}
header h1 a {}
header h1 a img {}
header nav {display: flex; height: 100%; align-items: center;}
header nav .category_wrap {}
header nav .category_wrap > a {
    font-family: "Uchen", serif;
    font-size: 1.125rem; color: #2e1e1a;
    letter-spacing: 0.01em;
}
/* 카테고리 공통 */
header nav ul li a {color: #fff;}
/* 카테고리 서브팝업 */
header nav .category_wrap {
    height: 100%; padding-top: 45px;
}
header nav .category_wrap:hover > .category_popup {display: block;}
header nav .sale_wrap:hover > .sale_popup {display: block;}
header nav .category_wrap .category_popup,
header nav .sale_popup {
    display: none;
    border-top: 1px solid rgba(255,255,255,1);
    background-color: rgba(255,255,255,1); width: 100%;
    position: fixed; top: 110px; left: 0; padding: 18px;
    border-bottom: 1px solid #bdbdbd30;
    box-shadow: 10px 10px 20px rgba(121, 121, 121, 0.1);
}
header nav .category_wrap .category_popup ul,
header nav .sale_popup ul {
    display: flex; justify-content: center; align-items: center;
}
header nav .category_wrap .category_popup ul li,
header nav .sale_popup ul li {margin-right: 52px;}
header nav .sale_wrap {
    margin: 0 60px; padding-top: 45px; height: 100%;
}
header nav .category_wrap .category_popup ul li a {color: #2e1e1a}
header nav .sale_wrap > a {
    font-family: "Uchen", serif;
    font-size: 1.125rem; color: #2e1e1a;
    letter-spacing: 0.01em;
}
header nav .category_wrap .category_popup ul li a:hover {
    font-weight: 500;
}
/* 세일 서브팝업 */
header nav .sale_wrap > .sale_popup {display: none; box-shadow: 10px 10px 20px rgba(121, 121, 121, 0.1);}
header nav .sale_wrap > .sale_popup > ul {}
header nav .sale_wrap > .sale_popup > ul li {}
header nav .sale_wrap > .sale_popup > ul li:first-child a {color: #BA5B01;}
header nav .sale_wrap > .sale_popup > ul li a {color: #2e1e1a}
header nav .sale_wrap .sale_popup ul li a:hover {
    font-weight: 500;
}
header nav .h_membership {
    font-family: "Uchen", serif;
    font-size: 1.125rem; color: #2e1e1a;
    letter-spacing: 0.01em;
}
header .h_right {display: flex;}
header .h_right .login {}
header .h_right .shopping {margin: 0 28px;}
header .h_right .search {}
header .h_right .search > a {}
header .h_right .search > a img {}
/* 검색하기 클릭 시 뜨는 검색팝업 영역 */
header .h_right .search .search_popup {
    display: none;
    position: fixed; top: 0; left: 0; width: 100%;
    background-color: #fff; padding-top: 100px; padding-bottom: 24px;
    box-shadow: 10px 10px 20px rgba(121, 121, 121, 0.15);
}
header .h_right .search .search_popup .search_wrap {
    width: max-content; margin: 0 auto;
}
header .h_right .search .search_popup .search_wrap form {
    position: relative; margin-bottom: 20px;
}
header .h_right .search .search_popup .search_wrap form #user_search {
    width: 520px; background-color: #5E3400;
    padding: 16px 40px 16px 15px; font-size: 0.938rem; 
    border-radius: 3px; color: #fff;
}
header .h_right .search .search_popup .search_wrap form #user_search::placeholder {
    color: #E9DCCC;
}
header .h_right .search .search_popup .search_wrap form #search_btn {
    position: absolute; right: 15px; top: 14px;
}
header .h_right .search .search_popup .search_wrap form #search_btn img {}
header .h_right .search .search_popup .search_wrap ul {}
header .h_right .search .search_popup .search_wrap ul .search_t {
    font-weight: 500; font-size: 1rem; padding: 0; margin-right: 24px;
    color: #000; margin-bottom: 62px; background: none;
}
header .h_right .search .search_popup .search_wrap ul li {
    background-color: #F7F1EA; font-size: 0.88rem;
    display: inline-block; padding: 8px;
    color: #5E3400;
}header .h_right .search .search_popup .search_wrap ul li:hover {
    background: #f3e8d6;
}
header .h_right .search .search_popup .search_wrap .close {
    display: block; text-align: center;
}
header .h_right .search .search_popup .search_wrap .close span {
    font-size: 0.88rem; font-weight: 500; color: #5E3400;
}
header .h_right .search .search_popup .search_wrap .close img {}

/* main 시작 */
main {
    width: 1500px; margin: 0 auto;  margin-top: 160px;
}
main .detail_wrap_top {
    display: flex; justify-content: space-between;
}
/* =============================좌측 이미지 영역 */
main .detail_wrap_top .contents_left {
    width: calc((100% - 160px) / 2); border-radius: 20px; overflow: hidden;
}
main .detail_wrap_top .contents_left .big {
    width: 100%; margin-bottom: 6px; overflow: hidden;
}
main .detail_wrap_top .contents_left .big img {
    width: 100%; transition: transform  0.3s;
}
main .detail_wrap_top .contents_left .big img:hover {transform: scale(1.03);}
main .detail_wrap_top .contents_left .thumnail {
    display: flex; justify-content: space-between;
    border-radius: 0 0 20px 20px; overflow: hidden;
}
main .detail_wrap_top .contents_left .thumnail a {width: calc((100% - (6px * 4)) / 5); overflow: hidden;}
main .detail_wrap_top .contents_left .thumnail a img {width: 100%; transition: transform  0.2s;}
main .detail_wrap_top .contents_left .thumnail a img:hover {transform: scale(1.05);}
main .detail_wrap_top .contents_left .thumnail .active {}
/* ==============================우측 이미지 영역 */
main .detail_wrap_top .contents_right {
    width: calc((100% - 160px) / 2) ;
}
main .detail_wrap_top .contents_right .b_tag {
    background-color: #BA5B01; color: #fff;
    padding: 7px 10px; width: max-content;
    border-radius: 2px; font-size: 0.81rem;
    margin-bottom: 16px;
}
main .detail_wrap_top .contents_right .detail_title {
    border-bottom: 1px solid #E9DCCC;
    display: flex; justify-content: space-between;
    padding-bottom: 12px; margin-bottom: 70px;
}
main .detail_wrap_top .contents_right .detail_title h1 {
    font-size: 1.63rem; font-weight: 500; color: #2e1e1a;
}
main .detail_wrap_top .contents_right .detail_title > a {
    padding: 8px 15px; background-color: #2e1e1a;
    display: flex; align-items: center;
    border-radius: 3px;
}
main .detail_wrap_top .contents_right .detail_title a span {font-size: 0.81rem; color: #fff; margin-right: 2px;}
main .detail_wrap_top .contents_right .detail_title a img {position: relative; top: -1px;}
main .detail_wrap_top .contents_right .contents_detail {
    font-size: 0.88rem; line-height: 1.8;
    color: #2e1e1a; margin-bottom: 70px;
}
main .detail_wrap_top .contents_right dl {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 42px;
}
main .detail_wrap_top .contents_right dl dt {
    width: 80px; font-weight: 500; letter-spacing: -0.02em;
    color: #2e1e1a;
}
main .detail_wrap_top .contents_right dl dd {
    width: calc(100% - 80px);
    margin-bottom: 16px; font-weight: 500;
    display: inline-block;
    font-size: 0.93rem; color: #2e1e1a;
}
main .detail_wrap_top .contents_right dl dd:last-child {
    font-size: 0.88rem; line-height: 1.7; color: #2e1e1a;
    margin: 0; font-weight: 400;
}
main .detail_wrap_top .contents_right dl dd del {display: inline-block; color: #5E340060;}
main .detail_wrap_top .contents_right .product_num {
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px 0; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6;
    margin-bottom: 42px;
}
main .detail_wrap_top .contents_right .product_num .p_name {
    font-size: 0.93rem; color: #2e1e1a; font-weight: 500;
    letter-spacing: 0.02em;
}
main .detail_wrap_top .contents_right .product_num .num_select {
    border: 1px solid #E6E6E6; border-radius: 2px;
    background-color: #fff;
}
main .detail_wrap_top .contents_right .product_num .num_select a {padding: 10px; display: inline-block;}
main .detail_wrap_top .contents_right .product_num .num_select a:hover {background-color: #e6e6e6af;}
main .detail_wrap_top .contents_right .product_num .num_select .minus {border-right: 1px solid #E6E6E6;}
main .detail_wrap_top .contents_right .product_num .num_select .plus {border-left: 1px solid #E6E6E6; }
main .detail_wrap_top .contents_right .product_num .num_select a img {}
main .detail_wrap_top .contents_right .product_num .num_select span {
    display: inline-block; margin: 0;
    font-size: 0.88rem; display: inline-block; padding: 10px;
    position: relative; top: -2px;
}
main .detail_wrap_top .contents_right .detail_price {
    display: flex; justify-content: space-between; align-items: center;
    margin-bottom: 42px;
}
main .detail_wrap_top .contents_right .detail_price .all_price_t {font-size: 1.13rem; font-weight: 500; color: #2e1e1a;}
main .detail_wrap_top .contents_right .detail_price .all_price {
    font-size: 1.06rem; color: #2e1e1a; letter-spacing: -0.01em;
}
main .detail_wrap_top .contents_right .order_btn {width: 100%; display: flex; justify-content: space-between;}
main .detail_wrap_top .contents_right .order_btn button {
    width: calc((100% - 6px) / 2); padding: 24px;
    border-radius: 2px; font-size: 1.06rem;
}
main .detail_wrap_top .contents_right .order_btn #cart_btn {border: 1px solid #E9DCCC; background-color: #e9dccc30; color: #8a673b;}
main .detail_wrap_top .contents_right .order_btn #cart_btn:hover {background-color: #e9dccc54; color: #9F794b;}
main .detail_wrap_top .contents_right .order_btn #buy_btn {background-color: #2e1e1a; color: #fff;}
main .detail_wrap_top .contents_right .order_btn #buy_btn:hover {background-color: #2e1e1aea;}
/* ===============detail/review 영역 */
main .detail_product {margin-top: 160px; padding-bottom: 120px;}
main .detail_product .detail_review {display: flex; text-align: center;}
main .detail_product .detail_review > a {
    width: calc(100% / 2); padding: 24px; border-bottom: 1px solid #E6E6E6;
    font-size: 1.06rem; color: #2e1e1a; font-family: 'MaruBuriSemiBold';
    letter-spacing: 0.01em;
}
main .detail_product .detail_review .active {
    border-bottom: 1px solid #2e1e1a;
}
/* ==============================상품상세 영역 */
main .detail_product .detail_contents {}
main .detail_product .detail_contents .product_detail_img {
    width: 1300px; margin: 0 auto; margin-top: 50px; 
}
main .detail_product .detail_contents .product_detail_img img {width: 100%;}
/* ===============================리뷰영역 */
main .detail_product .detail_contents .review {display: none; margin-top: 50px;}
main .detail_product .detail_contents .review .photo_t {
    font-size: 1.06rem; font-weight: 500; color: #2e1e1a;
    margin-bottom: 16px;
}
main .detail_product .detail_contents .review .review-slide {
    width: 100%;
    height: max-content;
}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .swiper-slide {
    border-radius: 4px; overflow: hidden;
}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .swiper-slide a {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .swiper-slide a img {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo1 {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo2 {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo3 {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo4 {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo5 {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo6 {}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo6 .last {
    display: inline-block; position: relative;
}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo6 .last:after {
    content: ''; width: 100%; height: 100%;
    position: absolute; left: 0; top: 0; background-color: rgba(0,0,0,0.4);
    border-radius: 4px; z-index: 500;
}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo6 .last img {
    position: relative; z-index: 400;
}
main .detail_product .detail_contents .review .review-slide .swiper-wrapper .photo6 .last span {
    position: absolute; left: 42%; top: 45%;
    font-size: 2rem; color: #fff; z-index: 999;
    letter-spacing: 0.05em;
}
main .detail_product .detail_contents .review .detail_view_order {
    margin-top: 80px; padding-bottom: 12px; border-bottom: 1px solid #e6e6e6;
    margin-bottom: 30px;
}
main .detail_product .detail_contents .review .detail_view_order a {
    display: inline-block;
    font-size: 0.88rem; color: #bdbdbd; letter-spacing: -0.02em;
    margin-right: 16px;
}
main .detail_product .detail_contents .review .detail_view_order .active {
    color: #2e1e1a; font-weight: 500;  color: #2e1e1a;
}
main .detail_product .detail_contents .review ul {}
main .detail_product .detail_contents .review ul li {
    display: flex; justify-content: space-between; align-items: center;
    padding: 24px 0; border-top: 1px solid #E6E6E6;
}
main .detail_product .detail_contents .review ul li .review_left {width: 62%;}
main .detail_product .detail_contents .review ul li:first-child {border-top: 0;}
main .detail_product .detail_contents .review ul li .review_left > * {
    margin-bottom: 20px;
}
main .detail_product .detail_contents .review ul li .review_left .nickname {font-size: 0.93rem;}
main .detail_product .detail_contents .review ul li .review_left .rating {}
main .detail_product .detail_contents .review ul li .review_left .rating img {}
main .detail_product .detail_contents .review ul li .review_left .user_review {
    font-size: 0.88rem; line-height: 1.7; letter-spacing: -0.02em;
    color: #222;
}
main .detail_product .detail_contents .review ul li .review_left .user_review_img {
    border-radius: 4px; overflow: hidden; margin: 0; width: 120px; height: 120px;
}
main .detail_product .detail_contents .review ul li .review_left .user_rivew_img img {}
main .detail_product .detail_contents .review ul li .date {color: #2e1e1a;}
main .viewmore {
    display: block; margin: 50px auto 0; text-align: center;
    border: 1px solid #E9DCCC; background-color: #e9dccc30;
    border-radius: 4px; width: 180px; padding: 14px 0;
    color: #7B4E15; font-weight: 500;
}
main .viewmore:hover {background-color: #e9dccc54; color: #9F794b;}

/* =================================FOOTER */
footer {background-color: #FBFAF8;}
footer .f_top {
    width: 1500px; margin: 0 auto; padding-top: 70px; padding-right: 36px;
    display: flex; justify-content: space-between;
    border-right: 1px solid #e9dccc;
    height: 420px;
}
footer .f_top h1 {}
footer .f_top h1 img {}
footer .f_top .f_right {}
footer .f_top .f_right > ul {display: flex;}
footer .f_top .f_right > ul > li {
    font-size: 0.75rem;
    color: #9F794b; 
}
footer .f_top .f_right > ul > li:nth-child(1) {}
footer .f_top .f_right > ul > li:nth-child(2) {
    margin: 0 74px;
}
footer .f_top .f_right > ul > li li {margin-bottom: 12px;}
footer .f_top .f_right ul li h2 {
    font-size: 0.88rem; color: #9F794b;
    font-weight: 500; margin-bottom: 30px;
}
footer .f_top .f_right ul li .call {font-size: 1rem; margin-bottom: 16px;}
footer .f_top .f_right ul li .cs{}
footer .f_top .f_right ul li .cs li {}
footer .f_top .f_right ul li .bank {}
footer .f_top .f_right ul li .bank li {}
footer .f_top .f_right > ul > li a {
    display:block; color: #828282;
    margin-bottom: 30px; font-size: 0.75rem;
    padding-right: 16px;
}
footer address {
    padding: 36px 0;
    border-top: 1px solid #e9dccc;
}
footer address .a_wrap {
    width: 1500px; margin: 0 auto;
    display: flex; justify-content: space-between;
}
footer address .a_wrap .a_left {}
footer address .a_wrap .a_right {text-align: right;}
footer address .a_wrap .a_left p,
footer address .a_wrap .a_right p {
    font-size: 0.75rem; line-height: 1.7; color: #9F794b;
}